<form action="/trail" method="POST">
  <div class="field">
    <label class="label">Enter Name</label>
    <input class="input" type="text" placeholder="Name" name="name"/>
  </div>
  <div>
    <div class=" box field is-horizontal">
      <div class="field-body ml-6">
        <div class="control is-expanded mt-2">
          <input class=" radio" type="radio" name="type" value="Cafe" />
          Cafe
          <input class="radio" type="radio" name="type" value="Restaurant" />
          Restaurant
          <input class="radio" type="radio" name="type" value="Pub" />
          Pub
          <input class="radio" type="radio" name="type" value="Other" />
          Other
        </div>
      </div>
      <div class="field-body">
        <div class="select">
          <select name="location">
            {{#each locations}}
            <option value={{_id}}> {{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="field mt-2">
    {{> coordinates}}
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-success is-fullwidth">Add</button>
    </div>
  </div>
</form>